/* custom defualt css here */

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Source+Sans+Pro:wght@300;400;600&display=swap');

  @font-face {
    font-family: Source Sans Pro;
    src: url();
  }

:root{
    font-family: Source Sans Pro;
}